@model AirportEditVM
@{
	ViewData["Title"] = "Havalimanı Oluştur";
}

<div class="row">
	<div class="col-4 offset-4">
		<h1 class="display-4 border-bottom text-center pb-2">@ViewData["Title"]</h1>
	</div>
</div>

<div class="row">
	<div class="col-4 offset-4">
		<form asp-action="KullaniciCreate">
			<div asp-validation-summary="ModelOnly" class="text-warning small"></div>

			<div class="form-outline col-6 mb-2">
				<span asp-validation-for="havalimaniAdi" class="text-warning small"></span>
				<input asp-for=" havalimaniAdi" type="text" class="form-control"
					   placeholder="" />
				<label class="form-label" asp-for=" havalimaniAdi">Havalimanı Adı</label>

			</div>

			<div class="form-outline col-6 mb-2">
				<span asp-validation-for="havalimaniKisaltma" class="text-warning small"></span>
				<input asp-for=" havalimaniKisaltma" type="text" class="form-control"
					   placeholder="" />
				<label class="form-label" asp-for=" havalimaniKisaltma">Havalimanı Kısaltma</label>

			</div>

			<div class="form-outline col-6 mb-2">
				<span asp-validation-for="sehir" class="text-warning small"></span>
				<input asp-for=" sehir" type="text" class="form-control"
					   placeholder="" />
				<label class="form-label" asp-for=" sehir">Şehir</label>

			</div>

			<div class="form-outline col-6 mb-2">
				<span asp-validation-for="ulke" class="text-warning small"></span>
				<input asp-for=" ulke" type="text" class="form-control"
					   placeholder="" />
				<label class="form-label" asp-for=" ulke">Ülke</label>

			</div>


			<div class="text-center pt-1 mb-5 pb-1">
				<button class="btn btn-primary col-12 gradient-custom-2 mb-3" type="submit">
					<i class="fa-solid fa-save me-2"></i> Save
				</button>
				<br />
			</div>
		</form>
	</div>
</div>