@{
    ViewData["Title"] = "Admin Panel";
}

<div class="row">
    
    <div class="col-2">
        <a asp-action="KullaniciGet" class="btn btn-info btn-sm text-white"><i class="fa-solid fa-list me-1"></i>Kullanıcı Listele</a>
    </div>

    <div class="col-2">
        <a asp-action="RouteGet" class="btn btn-info btn-sm text-white"><i class="fa-solid fa-list me-1"></i>Rota Listele</a>
    </div>
    
    <div class="col-2">
        <a asp-action="PlaneGet" class="btn btn-info btn-sm text-white"><i class="fa-solid fa-list me-1"></i>Uçak Listele</a>
    </div>

    <div class="col-2">
        <a asp-action="TicketGet" class="btn btn-info btn-sm text-white"><i class="fa-solid fa-list me-1"></i>Bilet Listele</a>
    </div>

    <div class="col-2">
        <a asp-action="AirportGet" class="btn btn-info btn-sm text-white"><i class="fa-solid fa-list me-1"></i>Havalimanı Listele</a>
    </div>

</div>